<form class="max-w-lg mx-auto">
  <div class="mb-4">
    <label class="block text-gray-700 font-bold mb-2" for="project-name">
      Nom du projet
    </label>
    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="project-name" type="text" placeholder="Nom du projet">
  </div>
  <div class="mb-4">
    <label class="block text-gray-700 font-bold mb-2" for="project-description">
      Description du projet
    </label>
    <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="project-description" type="text" placeholder="Description du projet"></textarea>
  </div>
  <div class="mb-4">
    <label class="block text-gray-700 font-bold mb-2" for="project-image">
      Image du projet
    </label>
    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="project-image" type="file">
  </div>
  <div class="mb-4">
    <label class="block text-gray-700 font-bold mb-2" for="project-members">
      Liste des membres
    </label>
    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="project-members" type="text" placeholder="Liste des membres">
  </div>
  <div class="mb-4">
    <label class="block text-gray-700 font-bold mb-2" for="project-num-personnes">
      Nombre de personnes demandé
    </label>
    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="project-num-personnes" type="number" placeholder="Nombre de personnes demandé">
  </div>
  <div class="mb-4">
    <label class="block text-gray-700 font-bold mb-2" for="project-tags">
      Tags
    </label>
    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="project-tags" type="text" placeholder="Tags">
  </div>
  <div class="flex items-center justify-between">
    <div class="flex items-center justify-center mt-6">
  <button class="bg-[#663ab7] hover:bg-purple-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
    Créer le projet
  </button>
</div>
  </div>
</form>
