

<mat-drawer-container class="page--wrapper" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">

    <mat-toolbar  color="primary" class="sidenav--toolbar">
      <div class="auth-button--wrapper">
        <ng-container *ngIf="user; else signIn">
          <button mat-button>
            <mat-icon>
              account_circle
            </mat-icon>
            Bonjour {{ user.pseudo }}
          </button>
        </ng-container>
        <ng-template #signIn>
          <button mat-button routerLink="/signin">
            <mat-icon>
              login
            </mat-icon>
            Sign in
          </button>
        </ng-template>

      </div>
      <div class="sidenav-close">
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>
            close
          </mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <div class="sidenav-profil">


    </div>
    <nav>
      <a routerLink="/" routerLinkActive="sidenav-link--active">
        <mat-icon>
          home
        </mat-icon>
        Home
      </a>
    </nav>
    <!-- <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button> -->
  </mat-drawer>

  <div class="sidenav-content">
    <mat-toolbar  color="primary">
      <span class="sidenav-toolbar--wrapper">
        <button mat-icon-button aria-label="Menu icon" (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Co-Link</span>
      </span>
    </mat-toolbar>
  </div>
  <!-- router outlet  & footer -->
  <ng-content></ng-content>
  <!--  -->
</mat-drawer-container>

