<mat-tab-group>
  <mat-tab label="Mes projets">
    <div class="card-container">
      <app-cards class="card_profil"></app-cards>
      <app-cards class="card_profil"></app-cards>
      <app-cards class="card_profil"></app-cards>
      <app-cards class="card_profil"></app-cards>
    </div>
  </mat-tab>
  <mat-tab label="Candidatures">
    <div class="card-container">
    <app-cards class="card_profil"></app-cards>
    <app-cards class="card_profil"></app-cards>
    <app-cards class="card_profil"></app-cards>
    <app-cards class="card_profil"></app-cards>
    </div>
  </mat-tab>
</mat-tab-group>
